<div class="container-fluid my-2">
    <div class="row">
        <!-- Group list -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" style="float: right;" (click)="addGroupSetup()">Add group</button>
                    <h2>Groups</h2>    
                    @for(group of activeGroups(); track $index) {
                        <app-group-component [group]="group" (selectMe)="selectGroup($event)"></app-group-component>
                    } @empty {
                        <p>No groups found!</p>
                    }
                </div>
            </div>
        </div>

        
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    @if(currentState() == "view") {
                        <!-- Selected group details -->
                        @if(selectedGroup() != null) {
                            <button class="btn btn-primary" style="float: right;" (click)="editGroupSetup()">Edit</button>
                        }
                        <h2>Details</h2>
                        @if(selectedGroup() == null) {
                            <p>Select a group to show its details over here</p>
                        } @else {
                            <p><strong>Name: </strong>{{ selectedGroup()!.name }}</p>
                            <p><strong>Description: </strong>{{ selectedGroup()!.description }}</p>
                        }
                    } @else {
                        <!-- Detail input -->
                         @if(currentState() == "add") {
                            <button class="btn btn-primary" style="float: right;" (click)="addGroup()">Submit</button>
                         } @else {
                            <button class="btn btn-primary" style="float: right;" (click)="editGroup()">Submit</button>
                         }
                        <h2>Input details</h2>
                        <label for="nameInput" class="form-label">Group name</label>
                        <input id="nameInput" class="form-control" type="text" [(ngModel)]="groupNameInput">
                        <label for="detailsInput" class="form-label mt-2">Group details</label>
                        <input id="detailsInput" class="form-control" type="text" [(ngModel)]="groupDetailsInput">
                    }
                </div>
            </div>
        </div>

    </div>
</div>