
.calendar {
  width: 100%;
  max-width: 900px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.header button {
  font-size: 1.2rem;
  padding: 10px 18px;
  border: 1px solid #aaa;
  background: #eee;
  cursor: pointer;
}

/* WEEKDAYS */
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0; /* clean grid look */
}

.cell {
  height: 110px;
  border: 1px solid purple;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.other {
  color: #aaa;
}

.today {
  background: #4caf50;
  color: white;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
}